<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LSAT</title>
</head>
<body>
	<div style="font-family: sans-serif; font-size: 14px;">
		<h2>LSAT - Bienvenido</h2>
		<p>Bienvenido a LSAT!</p>
		<p>Para poder accesar tu cuenta usa los siguientes datos:</p>
		<p>Usuario: $email</p>
		<p>Contrase&ntilde;a: $password</p>

		<p style="font-size: 11px;">Este es un email autom&aacute;tico, por favor no responda a esta direcci&oacute;n.</p>
	</div>
</body>
</html>
